.inicio-contenedor {
  background-image: url('../assets/techlab-bg.jpg');
  background-size: cover;
  background-position: center;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px 4px #000;
}

.texto-superior {
  text-align: center;
}
